.selector__button {
  background-color: #f1f1f1;
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  padding: 5;
  border: none;
}
.selector__button-selected {
  background: linear-gradient(to right, #a283ff, #594eff);
  box-sizing: border-box;
  color: white;
  width: 100%;
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  padding: 5;
  border: none;
}