.selector__searchtextbox {
  height: 30px;
  display: inline-block;
}
.selector__searchbutton {
  background: url('../images/search.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}