@import url('https://fonts.googleapis.com/css?family=Roboto');
.sample-container {
  height: 100%;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #6f69ff
}

@media screen and (min-width: 280px){
  .selector__container {
    column-count: 1;
    width: 100%;
  }
}
@media screen and (min-width: 760px){
  .selector__container {
    column-count: 2;
    width: 100%;
  }
}
@media screen and (min-width: 980px){
  .selector__container {
    column-count: 4;
    width: 100%;
  }
}

// @media (min-height: 200px){
//   .selector__container {
//     column-count: 2;
//     width: 100%;
//   }
// }
.selector__nav {
  // display: inline-block;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.selector__title {
}
.selector__searchbox {
  display: flex;
  align-items: center;
}